.round-button{
    border-radius: 50% !important; /*important needed due to framework*/
}

.form-field{
    border: solid black 1px;
    border-radius: .28571429rem;
}

header{
    margin-bottom: 0.98446844rem !important;
}

select{
    margin-bottom: 1em;
}

.generated-content{
    border: solid red 3px;
    border-radius: .28571429rem;
    position: relative;
}

#copy_clipboard{
    position: absolute;
    right: 1rem;
    top: 1rem;
}

h2{
    margin-top: 1rem;
}

.manifest{
    margin-left: 1rem;
}

form{
    margin-bottom: 1em;
}